{% extends "base.html" %}

{% block title %}Quiz Detail{% endblock %}

{% block content %}
    <h1>Quiz: {{ quiz.title }}</h1>
    <p>Description: {{ quiz.description }}</p>

    <form method="post" action="{% url 'quiz_detail' quiz.id %}">
        {% csrf_token %}
        {% for question in questions %}
            <h2>{{ question.text }}</h2>
            <ul>
            {% for choice in question.choice_set.all %}
                <li>
                    <input type="radio" id="choice{{ choice.id }}" name="question{{ question.id }}" value="{{ choice.id }}">
                    <label for="choice{{ choice.id }}">{{ choice.text }}</label>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
